jinja2: 3.1.2
flask-sqlalchemy: 3.0.3
flask: 2.2.2
werkzeug: 2.2.2
itsdangerous: 2.1.2
markupsafe: 2.1.2
greenlet: 2.0.2
wheel: 0.38.4
inflection: 0.5.1
colorama: 0.4.6
setuptools: 65.7.0
sqlalchemy: 2.0.2